.homepage {
    position: absolute;
    height: 120%;
    width: 100%;
    background-color: #ffffff;
    z-index: -5;
}

.trendingDiv {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 13vh;
    gap: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;

}
.showPatterns {
    position: relative;
    top: 50%;
    left: 50%;
}
.hidePatterns {
    position: relative;
    top: 80%;
    left: 50%;
}
