
.pattern {
    position: relative;
    top: 0;
    width: 80%;
    padding: 10px;
    padding-bottom: 5vh;
    background-color: #131921;
    border-radius: 2vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
}
/* sommario Div */
.PatternDivs {
    background-color: #232f3e;
    position: relative;
    width: 80%;
    border-radius: 2vh;
}
.PatternDivs > * {
    padding-left: 2vh;
}
/* titolo Pattern */
.titoloPattern {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



/* loading*/ 
/* Loading spinner styles */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner .dot1,
.spinner .dot2 {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #6b8bb9;
    border-radius: 50%;
    display: inline-block;
    animation: dotBounce 1.5s infinite ease-in-out;
}

.spinner .dot2 {
    animation-delay: -0.75s;
}

@keyframes dotBounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

/* strategie associate */
.StrategieAssociate {
    position: relative;
    width: 80%;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 2vh;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.StrategieAssociate.closed {
    max-height: 25px; /* Altezza solo del titolo */
    opacity: 0.8;
}

.StrategieAssociate.open {
    max-height: 15vh; /* Altezza massima del contenuto espanso */
    opacity: 1;
}
.StrategieAssociate h3 {
    margin: 0;
    text-align: center;
}

.strategie-details {
    position: relative;
    opacity: 0;
    background-color: #555;
    transition: opacity 0.5s ease;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.StrategieAssociate.open .strategie-details {
    opacity: 1;
}

.stratAssocMap {
    display: flex;
    flex-wrap: nowrap;
    gap: 2vh;
    justify-content: center;
}
/* vulnerabilita associate */ 
.VulnerabilitaAssociate {
    position: relative;
    width: 80%;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 2vh;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.VulnerabilitaAssociate.closed {
    max-height: 25px;
    opacity: 0.8;
}

.VulnerabilitaAssociate.open {
    max-height: var(--max-height-vuln); /* Altezza massima dinamica */
    opacity: 1;
}

.VulnerabilitaAssociate h3 {
    margin: 0;
    text-align: center;
}


.vulnerabilita-details {
    position: relative;
    opacity: 0;
    background-color: #555;
    transition: opacity 0.5s ease;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.vulnerabilita-details > p {
    width: 100%;
    display: flex;
    justify-content: center;
}

.VulnerabilitaAssociate.open .vulnerabilita-details {
    opacity: 1;
}

.vulnAssocMap {
    display: flex;
    flex-wrap: nowrap;
    gap: 2vh;
    justify-content: center;
}