.PbD {
    width: 80%;
    background-color: #131921;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}
/* articoli associati */
.ISOAssociate {
    width: 80%;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 2vh;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.ISOAssociate.closed {
    max-height: 25px; /* Altezza solo del titolo */
    opacity: 0.8;
}

.ISOAssociate.open {
    max-height: 500px; /* Altezza massima del contenuto espanso */
    opacity: 1;
}

.ISOAssociate h3 {
    margin: 0;
    text-align: center;
}

.ISO-details {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.ISOAssociate.open .ISO-details {
    opacity: 1;
}

.ISO-details div {
    margin-top: 10px;
    background-color: #555;
    padding: 10px;
    border-radius: 8px;
}
