.visioneFeedback {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 5vh;
    padding-right: 0.9vh;
    max-width: 205vh;
    gap: 2vh;
    justify-content: center;
    align-items: start;
    background-color: #131921;
    border-radius: 2vh;
    top: 2vh;
    width: 100%;
}

.visioneFeedback > button {
    height: 45.6px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 8px;
    font-size: 18.72px;
    color: white;
    background-color: #3f526d;
    border: 2.5px solid #6b8bb9;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.visioneFeedback > button:hover {
    background-color: #6b8bb9;
    color: white;
    transition: 0.2;
}
.AllFeedbackTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.feedback {
    padding: 1em;
    border-radius: 2em;
    background-color: #3f526d;
    color: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    width: auto;
    min-width: 50vh;
    max-width: 65vh;
}

.descrizioneFeedback {
    padding: 2em;
    border-radius: 2em;
    background-color: #6b8bb9;
    color: white;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    width: calc(100% - 1vh); /* Adjust width based on parent container */
}

.buttonDivFeedback {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 2vh;
}

.buttonDivFeedback > button {
    height: 45.6px;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 8px;
    font-size: 18.72px;
    color: white;
    background-color: #3f526d;
    border: 2.5px solid #6b8bb9;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.buttonDivFeedback > button:hover {
    background-color: #6b8bb9;
    color: white;
    transition: 0.2;
}

.descrizioneFeedback > p {
    margin: 0; /* Rimuovi margini se necessario */
}

.titoloFeedback {
    position: relative;
    font-size: 1.4rem;
}

/* Stili per la form di inserimento feedback */
.inserisciFeedback {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #131921; /* Sfondo blu scuro */
    border-radius: 10px; /* Arrotonda i bordi */
    padding: 2em;
}
.inserisciFeedback> h1 {
    color: white;
}

.inserisciFeedback > div {
    margin-bottom: 1.5em;
    width: 80%;
}

.inserisciFeedback label {
    color: #6b8bb9;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.inserisciFeedback input[type="text"] {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    border: 4px solid #6b8bb9;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333; /* Colore testo */
    transition: border-color 0.3s ease-in-out;
}

.inserisciFeedback input[type="text"]:focus {
    outline: none;
    border-color: #3f526d;
}

.buttonInsertFeedback {
    padding: 0.8em 1.5em;
    font-size: 1.1rem;
    color: white;
    background-color: #3f526d;
    border-radius: 5px;
    border: 2.5px solid #6b8bb9;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.buttonInsertFeedback:hover {
    background-color: #6b8bb9;
    color: white;
    transition: 0.2;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.success {
    padding: 0.8em 1.5em;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    background-color: #4caf50; /* Verde */
    border: 2.5px solid #4caf50;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.error {
    padding: 0.8em 1.5em;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    border: 2.5px solid #da373c;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    background-color: #da373c; /* Rosso */
    animation: shake 0.3s linear;
}

.inputError {
    transition: border-color 0.3s ease-in-out;
    border-color: #da373c !important ;
    animation: shake 0.3s linear; 
}
