/* Stili generali per la pagina di login e registrazione */
.reg-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: #131921; /* Sfondo blu scuro */
}

.reg-container {
    background-color: #232f3e; /* Sfondo del contenitore */
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 50%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg-container h2 {
    color: white;
    margin-bottom: 1.5em;
    cursor: pointer;
}


.reg-container label {
    color: #6b8bb9;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    width: 100%;
    text-align: left;
}

.reg-container input[type=text] {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    border: 4px solid #6b8bb9;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    margin-bottom: 1em;
    transition: border-color 0.3s ease-in-out;
}
.reg-container input[type=email] {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    border: 4px solid #6b8bb9;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    margin-bottom: 1em;
    transition: border-color 0.3s ease-in-out;
}
.reg-container input[type=password] {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    border: 4px solid #6b8bb9;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    margin-bottom: 1em;
    transition: border-color 0.3s ease-in-out;
}

.reg-container input:focus {
    outline: none;
    border-color: #3f526d;
}

.reg-container button {
    padding: 0.8em 1.5em;
    font-size: 1.1rem;
    color: white;
    background-color: #3f526d;
    border: none;
    border-radius: 5px;
    border: 2.5px solid #6b8bb9;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.reg-container button:hover {
    background-color: #6b8bb9;
    color: white;
}

.reg-container .link {
    color: #6b8bb9;
    margin-top: 1em;
}

.reg-container .link a {
    color: #6b8bb9;
    text-decoration: none;
}

.reg-container .link a:hover {
    text-decoration: underline;
}

.photo-credit {
    color: white;
    font-size: 0.8rem;
    margin-top: 2em;
    text-align: center;
}

.photo-credit a {
    color: #6b8bb9;
    text-decoration: none;
}

.reg-container .error-message, .reg-container .success-message {
    color: white;
    padding: 0.8em 1.5em;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1em;
    width: 100%;
    text-align: center;
}

.reg-container .error-message {
    background-color: #da373c; /* Rosso */
    border: 2.5px solid #da373c;
    animation: shake 0.3s linear;
}

.reg-container .success-message {
    background-color: #4caf50; /* Verde */
    border: 2.5px solid #4caf50;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.register{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.register div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.notPref {
    width: 100% !important; 
}
.notPref label {
    width: 45% !important; 
    display: flex !important;
    flex-direction: row !important;
    gap: 1vh !important;
}